@page
@model Torneo.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<h1>Listado de jugadores</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Numero</th>
        </tr>
    </thead>
    tbody>
        @foreach (var jugador in Model.jugadores)
        {
            <tr>
                <th>@jugador.Id</th>
                <td>@jugador.Nombre</td>
                <td>@jugador.Numero</td>
            </tr>
        }
    </tbody>
</table>
